/* 공통 스타일 */
/*폰트 import*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');

* {
  /*폰트 스타일*/
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
  color: #212121;
}

html {
  font-size: 13px;
  /* 1rem - 13px*/
}

/* 공통 초기화 */
body {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

dl,
dt,
dd {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  border: 0;
}

/* 상단 로고 메뉴 영역 S */

header {
  display: flex;
  justify-content: space-between;
  /* 좌우 정렬 */
  height: 66px;
  /* 높이값 66*/
  align-items: center;
  /* 높이 가운데 정렬*/
  border-bottom: 1px solid #e6e6e6;
  /* 밑줄 */
  padding: 0 15px;
  /* 여백 좌우 */
}

header .logo img {
  height: 34px;
}

/* logo 사이즈 */
header>section i {
  font-size: 2.2em;
}

/* 아이콘 사이즈 */
header>section.left a {
  margin-right: 10px;
}

header>section.right a {
  margin-left: 10px;
}

/* 메인 메뉴 영역 S */
nav {
  display: flex;
  height: 44px;
}

nav>a {
  flex-grow: 1;
  width: 0;
  /* 동일한 넓이설정 */
  text-align: center;
  /* text 가운데 정렬 */
  line-height: 44px;
  /*44px 안에서 높이 가운데 정렬*/
}


/* 메인 배너 영역 S */
main .main_banner img {
  width: 100%;
  display: block;
  /* 블럭을 해주어 메뉴와 경계를 없애준다 */
}

/* 메인 중간 메뉴 S */
main .mid_menus {
  display: flex;
  flex-wrap: wrap;
  border: 10px solid #ededed;
  border-left: 0;
  border-right: 0;
}

main .mid_menus>a {
  width: calc(100% / 3);
  /* 전체 넓이에서 3등분 (계산식은 띄어쓰기!) */
  text-align: center;
  height: 50px;
  line-height: 50px;
  /* 글자 세로 가운데 정렬*/
  border-left: 1px solid #ededed;
  /* 경계선 */
  border-top: 1px solid #ededed;
  font-size: 1.076rem;
  font-weight: 500;
}

main .mid_menus>a:nth-of-type(3n+1) {
  border-left: 0;
}

/* 죄측선 제거*/

main .mid_menus>a:nth-of-type(1),
main .mid_menus>a:nth-of-type(2),
main .mid_menus>a:nth-of-type(3) {
  border-top: 0;
}

/* 상단선 제거 */

/* 메인 중간 배너 S */

main .mid_banners {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

main .mid_banners>a {
  width: 50%;
}

main .mid_banners>a:nth-of-type(1) {
  width: 100%;
}

main .mid_banners img {
  width: 100%;
  /* 이미지를 화면에 채워준다*/
  display: block;
  /*경계부분을 없애준다*/
}

/* 메인 하단 상품 */
.mid_display{
  display: block;
}

.goods_display_main h3 {
  text-align: center;
  font-size: 20px;
  color: #212121;
  padding: 20px;
  line-height: 1;
  margin: 0;
}

.more_btn_box{
  display: none;
}

.main_more_btn2 {
  display: inline-block;
  padding: 4px 8px 2px 8px;
  text-align: center;
  background: #ffffff;
  font-size: 12px;
  border: 1px solid #9f9f9f;
  color: #494949;
  font-weight: bold;
  /* box-sizing: border-box; */
  border-radius: 2px;
}

.main_prd_list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 15px;
}

.main_prd_list>li:nth-child(2n+1) {
  margin: 0;
}

.main_prd_list>li {
  width: calc(50% - 8px);
  margin-bottom: 30px;
  margin-left: 16px;
}

/* 메인 하단 상품 - 상품이미지 */
.goods_prd_img {
  width: 100%;
  padding-bottom: 10px;
  vertical-align: top;
}

.img_box {
  position: relative;
}

.img {
  font-size: 0;
  line-height: 0;
}

.img img {
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
}

/* 메인 하단 상품 - 상품 내용 */

.goods_prd_content {
  vertical-align: top;
}

.price {
  font-weight: bold;
}

.goods_info_list li {
  padding: 0;
  word-break: break-all;
  color: #3e3d3c;
  font-size: 15px;
}

.c_price {
  color: #000000;
  font-weight: normal;
  font-size: 15px;
}

.price_no {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: -1px;
}

.add_currency {
  color: #717171;
  font-size: 12px;
  font-weight: normal;
  text-align: right;
}

.goods_list_review_summary {
  margin: 10px 0 2px;
}

.star{
  height: 11px;
}

.no_of_reviews {
  font-size: 12px;
  color: #a7a7a7;
  margin-left: 6px;
}

.montserrat {
  font-family: 'Montserrat', sans-serif !important;
}

.goods_prd_icon {
  font-size: 16px;
}

.main_more_btn {
  display: block;
  width: 100%;
  padding: 8px 0 8px 0;
  text-align: center;
  background: #ffffff;
  font-size: 15px;
  border: 1px solid #b1b1b1;
  color: #666666;
  font-weight: bold;
  box-sizing: border-box;
}

/* 메인 아래 배너 */
.main_bottom_banner{
  padding: 10px 0;
  font-size: 0;
  margin-bottom: 10px;
}

.main_bottom_banner img{
  width: 100%;
  font-size: 0;
}

/* 풋터 */
#footer {
  background-color: #f9f9f9;
  padding: 25px 0 80px;
  margin-top: 25px;
}

#footer .logo {
    margin-bottom: 12px;
}

#footer .logo img {
    width: 79px;
    display: block;
    margin: 0 auto;
}

.center_phone {
  border: 2px solid #2a2a2a;
  border-radius: 20px;
  text-align: center;
  display: block;
  height: 35px;
  line-height: 35px;
  font-size: 20px;
  color: #2a2a2a;
  font-weight: 800;
  width: 190px;
  margin: 0 auto 7px;
}

.center_phone img {
  height: 16px;
  vertical-align: middle;
  position: relative;
  top: -1px;
}

.business_info {
  margin: 3px 0 8px;
}

.business_info .tit {
  text-align: center;
  cursor: pointer;
  margin-bottom: 8px;
}

.business_info .tit > span {
  color: #878787;
  font-size: 12px;
  font-weight: 600;
  padding-right: 20px;
  background: url(/project/images/more.png) no-repeat right center;
  background-size: 15px;
}

.business_info.on .tit > span {
  background: url(../img/markers/footer/more_up.png) no-repeat right center;
  background-size: 15px;
}

.business_info.on .info {
  display: block;
}

.business_info .info {
  background-color: #eeeeee;
  padding: 13px;
  /* display: none; */
}

.business_info dt {
  width: 100px;
}

.business_info dl {
  display: flex;
  font-size: 11px;
  color: #878787;
  width: calc(100% - 70px);
  margin: 0 auto;
}

.bank_info {
  text-align: center;
  font-size: 12px;
  color: #2a2a2a;
}

.bank_info span {
  font-size: 13px;
  font-weight: 600;
}

/* footer links */
.links {
  text-align: center;
}

.links a:first-of-type {
  border-left: 0;
}

.links a {
  font-size: 11px;
  color: #878787;
  border-left: 1px solid #878787;
  padding: 0 11px;
}

/* 하단 고정 메뉴 S */
.bottom_quicks {
  position: fixed;
  bottom: 0;
  z-index: 10;
  left: 0;
  background-color: #ffffff;
  display: flex;
  width: 100%;
  height: 60px;
  padding: 9px 15px;
  border-top: 1px solid #dfe1e5;
  justify-content: space-around;
  /* 동일한 여백 */
}
.more {
  height: 30px;
  width: 26px;
  background: url(/project/images/more_menu.png) no-repeat center center;
  background-size: 26px;
  border: 0;
  margin-top: 6px;
}

.bottom_quicks a{
  width: calc(100% / 5);
}

.bottom_quicks .tit {
  text-align: center;
  font-size: 0.618rem;
  color: #2d2f38;
}

.bottom_quicks .icon {
  height: 30px;
  margin-bottom: 5px;
}

.bottom_quicks .icon1 {
  background: url("../images/pen.png") no-repeat center;
  background-size: 26px;
}

.bottom_quicks .icon2 {
  background: url("../images/comment.png") no-repeat center;
  background-size: 38px;
}

.bottom_quicks .icon3 {
  background: url("../images/truck.png") no-repeat center;
  background-size: 38px;
}

.bottom_quicks .icon4 {
  background: url("../images/person.png") no-repeat center;
  background-size: 20px;
}